# =========================
# Java / Maven
# =========================
target/
*.class
*.jar
*.war
*.log

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# =========================
# Node / React
# =========================
node_modules/
dist/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# IDE
# =========================
.idea/
.vscode/
*.iml

# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db

# =========================
# Python / ML (Later)
# =========================
__pycache__/
*.py[cod]
.venv/
venv/

# =========================
# ML Models and Large Data
# =========================
*.pt
*.pth
*.pkl
*.joblib
datasets/


# ML datasets
ml/data/raw/*
!ml/data/raw/.gitkeep

ml/data/external/*
!ml/data/external/.gitkeep

ml/data/processed/*
!ml/data/processed/.gitkeep

# Trained ML models
ml/models/*
!ml/models/.gitkeep

# Python environment
ml/.venv/
ml/venv/
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/


# Local configurations & secrets
**/application-local.properties
**/application-*.properties
!**/application.properties
